@media(max-width:1024px){
   
    
 .menu-side{
   display: inline;
 }
 
 
  .menu-side  .nav-side{
    height: 85%;
    width: 250px;
    position: absolute;
    background: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-250px);

}

.menu-side  .nav-side .menu{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg,#f39c12,#ed4901);
}

.menu-side  ol{
    width: 100%;
    list-style: none;
}

.menu-side  ol li{
    display: block;
    width:100% ;
}

.menu-side  ol li a{
    color: #fff;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
}

.menu-side  ol li a i{
    width:70px ;
    font-size: 23px;
    text-align: center;
    padding-left: 30px;
}

.menu-side  ol li:hover a{
    background: #030303;
    color: #f39c12;
    letter-spacing: 3px;
}


.menu-side  input{
  -webkit-appearance:none;
  visibility: hidden;
  display: none;
}

.menu-side span{
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 50%;
    color: #f39c12;
    padding: 3px 8px;
    cursor: pointer;
    background: none;
}

.menu-side #bars{
    background: #fff;
}

.menu-side #check:checked ~ .nav-side{
  transform: translateX(0);
}

.menu-side #check:checked ~ .nav-side #bars{
  display: none;
}
    
  
 

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  nav {
        size: 50px;
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
       
      
      }
       
      .nav-links {
       
        display: none;
      }
      
      nav img {
        display: flex;
        width: 70px;
        position: absolute;
        top: 15px;
        right: 20px;
      }

      .typed {
        margin-top: 50vh;
        margin-bottom: 15vh;
        margin-left: 1vh;
        font-size: 16px;
        color: #ffffff;
      }

      
      
      .typed h1{
          margin-right: 200vh;
      }
      
      .typed .anim {
        color: #f39c12;
        margin-left:5px ;
         /* margin-right: 150vh; */
         font-size: 26px;
        
    }

    .FACEBOOK-BOX {  
      position: fixed;
      top: 91%;
        display: flex;
      }
      
      .fa {
        padding: 10px;
        font-size: 30px;
        width: 22px;
        text-align: center;
        text-decoration: none;
        
      }
      
      .button-dark{
        display: inline;
      }  
      

            


 .contact-info {
  display: flex;
  width: 90%;
  max-width: 350px;
  align-items: center;
  justify-content: center;
  pad: 0 20px;
} 


      footer {
        height: auto;
        width: 100%;
        
      }

      .footer-content h3 {
        font-size: 1rem;
        font-weight: 400;
       
      }
    }
